.registration_wrapper
  .fields
    %h2= t("label.sign_up")
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        .field__name
          %label
            = t("label.name")
        .field__box
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
      .field
        .field__name
          %label
            = t("label.image")
        .field__box
          = f.file_field :image
      .field
        .field__name
          = f.label :email
        .field__box
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .field
        .field__name
          = f.label :password
          - if @minimum_password_length
            %em
              = t("label.minimum_caracter")
        .field__box
          = f.password_field :password, autocomplete: "new-password", class: "form-control"
      .field
        .field__name
          = f.label :password_confirmation
        .field__box
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      .actions
        = f.submit t("label.sign_up"), class: "btn btn-primary"
    = render "devise/shared/links"
