.registration_wrapper
  .fields
    %h2= t("label.sign_up")
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: "login") do |f|
      = f.email_field :email, value: "test@mail.com", class: "email-field"
      = f.password_field :password, value: "test123", class: "password-field"
      = f.submit t("label.easy-login"), id: "easy-login", role: "button"
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        .field__name
          %label
            = t("label.name")
            %span= t("post.required")
        .field__box
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
      .field
        .field__name
          %label
            = t("label.image")
          %span.arbitrary= t("post.arbitrary")
        .field__box
          = f.file_field :image, style:"display:none;", id: "file"
          .preview{ onClick: "$('#file').click()" }
            %i.fas.fa-plus
      .field
        .field__name
          = f.label :email
          %span= t("post.required")
        .field__box
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .field
        .field__name
          = f.label :password
          %span= t("post.required")
          - if @minimum_password_length
            %em
              = t("label.minimum_caracter")
        .field__box
          = f.password_field :password, autocomplete: "new-password", class: "form-control"
      .field
        .field__name
          = f.label :password_confirmation
        .field__box
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      .actions
        = f.submit t("label.sign_up_btn"), class: "btn btn-primary"
    = render "devise/shared/links"
