.edit_wrapper
  .fields
    %h2 ユーザー編集画面
    = form_with(model: @user, local: true) do |f|
      .field
        .field__name
          = f.label :image
        .field__box
          = f.file_field :image, style:"display:none;", id: "file"
          .preview{ onClick: "$('#file').click()" }
            %i.fas.fa-plus
            - if @user.image.present?
              = image_tag @user.image.to_s
      .field
        .field__name
          = f.label :name
        .field__box
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
      .actions
        = f.submit "Update", class: "btn btn-primary"
      = link_to "Back", user_path(@user), class: "btn btn-primary"
