.edit_wrapper
  .fields
    %h2= t("user.edit_title")
    = form_with(model: @user, local: true) do |f|
      .field
        .field__name
          %label
            = t("user.image")
        .field__box
          = f.file_field :image, style:"display:none;", id: "file"
          .preview{ onClick: "$('#file').click()" }
            %i.fas.fa-plus
            - if @user.image.present?
              = image_tag @user.image.to_s
      .field
        .field__name
          %label
            = t("user.name")
        .field__box
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
      .actions
        = f.submit t("user.update"), class: "btn btn-primary"
      = link_to t("user.back"), user_path(@user), class: "btn btn-primary"
