.users-index-wrapper
  %main.contents
    .profile
      .profile__icon
        - if @user.image.blank?
          .profile__defaultImage
            %i.fas.fa-user-alt.fa-4x
        - else
          = image_tag @user.image.url, class: "image"
      .profile__info
        .profile__info--username
          = @user.name
        = link_to edit_user_path(@user), data: {"turbolinks"=>false} do
          %button.btn.btn-secondary{:type => "button"}= t("mypage.edit_profile")
    .posts
      - @posts.each do |post|
        = link_to post_path(post), data: {"turbolinks"=>false} do
          = image_tag post.image.url, class: "post"
    = paginate @posts
