.registration_wrapper
  .fields
    %h2= t("label.fogot_password")
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        .field__name
          = f.label :email
        .field__box
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .actions
        = f.submit t("label.password_instructions"), class: "btn btn-primary"
    = render "devise/shared/links"
