.registration_wrapper
  .fields
    %h2=t("label.log_in")
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .field__name
          = f.label :email
        .field__box
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .field
        .field__name
          = f.label :password
        .field__box
          = f.password_field :password, autocomplete: "current-password", class: "form-control"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit t("label.log_in_btn"), class: "btn btn-primary"
    = render "devise/shared/links"
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: "login") do |f|
      = f.email_field :email, value: "test@mail.com", class: "email-field"
      = f.password_field :password, value: "test123", class: "password-field"
      = f.submit t("label.easy-login"), id: "easy-login", role: "button"
