.posts-wrapper
  .card
    .card-header
      投稿編集
    .card-body
      = form_with url: posts_path do |f|
        .field
          %label 場所の名前
          %span 必須
          = f.text_field :name, autofocus: true, class: "form-control"

        .field
          %label image
          %span 必須
          = f.file_field :image, style:"display:none;", id: "file"
          .preview{ onClick: "$('#file').click()"}
            %i.far.fa-image.fa-5x
        .field
          %label 説明文
          %span.arbitrary 任意
          = f.text_area :name, class: "form-control"

        .action
          = f.submit "変更する", class: "btn btn-primary"