.posts-wrapper
  .card
    .card-header
      = t("post.edit_post")
    .card-body
      = form_with(model: @post, local: true) do |f|
        .field
          %label= t("post.place_name")
          %span= t("post.required")
          = f.text_field :name, autofocus: true, class: "form-control"

        .field
          %label= t("post.image")
          %span= t("post.required")
          = f.file_field :image, style:"display:none;", id: "file"
          .preview{ onClick: "$('#file').click()"}
            %i.far.fa-image.fa-5x
            - if @post.image.present?
              = image_tag @post.image.to_s, id: "defaultImage"
        .field
          %label= t("post.description")
          %span.arbitrary= t("post.arbitrary")
          = f.text_area :description, class: "form-control"

        .action
          = f.submit t("post.change"), class: "btn btn-primary"