.posts-show-wrapper
  .contents
    .main-contents
      .card
        .card-body
          %h5.card-title#name
            = @post.name
          .profile
            - if @post.user.image.blank?
              .profile__defaultImage
                %i.fas.fa-user-alt.fa-lg
            - else
              = image_tag @post.user.image.to_s, class: "profile__image"
            .profile__username
              = @post.user.name
      .postImage
        = image_tag @post.image.to_s
      .description
        .favorite
          - if current_user.already_liked?(@post)
            = button_to post_favorite_path(@post), class: "good-btn", method: :delete do
              %i.fas.fa-heart.fa-lg
            %p#good-text いいね
            = @post.favorites.count
          - else
            = button_to post_favorites_path(@post), class: "good-btn" do
              %i.far.fa-heart.fa-lg
            %p#good-text いいね
            = @post.favorites.count
        = @post.description
      .comments
        .comments__heading
          %i.fas.fa-comment
            コメント
          - unless current_user
            = link_to "ログインしてコメントする", user_session_path, role: "button", class: "btn"
          - if current_user
            .comment-input
              = form_with( url: post_comments_path(post_id: params[:id]), local: true, class: "new-message" ) do |f|
                .field
                = f.text_area :text, class: "form-control", id: "message-box", placeholder: "コメントする", rows: "3"
                .action
                = f.submit "送信する", class: "btn btn-primary"
        .comments__content
          = render 'comment'
      .wikipedia
        %h5
          %i.fab.fa-wikipedia-w.fa-2x
          Wikipedia情報
        .info
          = @wiki.summary
          = link_to "詳しい説明はこちら", @wiki.fullurl, target: :_blank
      .googleMap
        #map_container
          #map_canvas
    .side-contents
      .rank
      = render 'ranking'
