.posts-show-wrapper.clearfix
  .contents
    .title#name ベネチア
    .post
      = image_tag('second-slide.jpg')
    .comments
      = render 'comment'
  .side-contents
    .wikipedia
      = @page.summary
      = link_to "詳しい説明はこちら", @page.fullurl, target: :_blank
    .googleMap
      #map_container
        #map_canvas
    .rank
    = render 'ranking'