.posts-show-wrapper
  .contents
    .main-contents
      .card
        .card-body
          %h5.card-title#name
            = @post.name
          .profile
            - if @post.user.image.nil?
              .image
                %i.fas.fa-user-alt.fa-lg
            - else
              = image_tag @post.user.image.to_s, class: "img"
            .username
              = @post.user.name
      .post
        = image_tag @post.image.to_s
      .description
        = @post.description
      .comments
        .heading
          %i.fas.fa-comment
            コメント
          %a.btn{:href => "#", :role => "button"} ログインしてコメントする
        = render 'comment'
      .wikipedia
        %h5
          %i.fab.fa-wikipedia-w.fa-2x
          Wikipedia情報
        .info
          = @wiki.summary
          = link_to "詳しい説明はこちら", @wiki.fullurl, target: :_blank
      .googleMap
        #map_container
          #map_canvas
    .side-contents
      .rank
      = render 'ranking'