%nav.navbar.navbar-expand-lg.navbar-dark{style: "background-color: rgb(0, 0, 0);"}
  .mountain
    .mountain1
  = link_to "MyLandscape", root_path, class: "navbar-brand"
  .navbar-collapse.collapse.w-100.order-3.dual-collapse2
    %ul.navbar-nav.ml-auto
      - if user_signed_in?
        %li.nav-item
          = link_to "投稿一覧", posts_path, class: "nav-link"
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            マイページ
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to "マイページ", user_path(current_user), class: "dropdown-item"
            = link_to "ログアウト", destroy_user_session_path, class: "dropdown-item", method: :delete
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Language
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{:href => "#"} 日本語
            %a.dropdown-item{:href => "#"} English
            %a.dropdown-item{:href => "#"} Espanyol
      - else
        %li.nav-item
          = link_to "新規登録", new_user_registration_path, class: "btn register", role: "button"
        %li.nav-item
          = link_to "ログイン", user_session_path, class: "btn login", role: "button"
        %li.nav-item
          = link_to "投稿一覧", posts_path, class: "nav-link"
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Language
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{:href => "#"} 日本語
            %a.dropdown-item{:href => "#"} English
            %a.dropdown-item{:href => "#"} Espanyol
